<template>
  <Header />
  <img class="logo" src="../assets/resto-logo.jpg" />
  <h1 class="header">HELLO {{ name }}, WELCOME ON ADD RESTAURANT PAGE!!!</h1>
  <form class="add">
    <input
      type="text"
      placeholder="Enter resto. Name"
      v-model="restaurant.name"
      name="name"
    />
    <input
      type="text"
      placeholder="Enter resto. Address"
      v-model="restaurant.address"
      name="address"
    />
    <input
      type="text"
      placeholder="Enter resto. Contact"
      v-model="restaurant.contact"
      name="contact"
    />
    <button type="button" v-on:click="addResto">Add New Restaurant</button>
  </form>
</template>

<script>
import axios from "axios";
import Header from "./Header.vue";
export default {
  name: "Add",
  components: {
    Header,
  },
  data() {
    return {
      restaurant: {
        name: "",
        address: "",
        contact: "",
      },
    };
  },
  methods: {
    async addResto() {
      console.warn(this.restaurant);
      const result = axios.post("http://localhost:3000/Restaurant", {
        name: this.restaurant.name,
        address: this.restaurant.address,
        contact: this.restaurant.contact,
      });
      if (result.staus == 201) {
        this.$router.push({ name: "Home" });
        alert("New Restaurant Added ");
      }
    },
  },

  mounted() {
    let user = localStorage.getItem("user-Info");
    this.name = JSON.parse(user).name;
    if (!user) {
      this.$router.push({ name: "signUp" });
      alert("please sign-up first to access Home page");
    }
    //   else{
    //     this.$router.push({name:"Login"})
    //   }
  },
};
</script>

<style>
.logo {
  width: 100px;
}
.header {
  color: red;
  color-scheme: dark;

  text-decoration-color: chartreuse;
  text-decoration-style: double;
}
.add input {
  width: 300px;
  height: 40px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  padding-left: 20px;
  display: block;
}
.add button {
  width: 250px;
  height: 40px;
  border: 1px solid;
  color: white;
  background-color: black;
  cursor: pointer;
}
</style>
