<template>
  <div class="nav">
    <router-link to="/"> Home</router-link>
    <router-link to="add">Add Restaurant</router-link>
    <!-- <router-link to="update">Update Restaurant</router-link> -->
    <a v-on:Click="logout" href="#">Logout</a>
  </div>
</template>
<script>
export default {
  name: "Header",
  methods: {
    logout() {
      localStorage.clear();
      this.$router.push({ name: "Login" });
    },
  },
};
</script>
<style>
.nav {
  background-color: aqua;
  overflow: hidden;
}
.nav a {
  background-color: aqua;
  overflow: hidden;
  float: left;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}
.nav a:hover {
  background-color: black;
  color: white;
}
</style>