<template>
  <Header />
  <img class="logo" src="../assets/resto-logo.jpg" />
  <h1 class="header">HELLO {{ name }}, WELCOME ON HOME PAGE!!!</h1>
  <table border="2px">
    <tr>
      <td>ID</td>
      <td>NAME</td>
      <td>ADDRESS</td>
      <td>CONTACT</td>
      <td>ACTIONS</td>
    </tr>
    <tr v-for="item in restaurants" :key="item.id">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.address }}</td>
      <td>{{ item.contact }}</td>
      <td>
        <router-link :to="'/update/' + item.id">UPDATE</router-link>
        <button v-on:click="deleteResto(item.id)">DELETE</button>
      </td>
    </tr>
  </table>
</template>

<script>
import axios from "axios";
import Header from "./Header.vue";
export default {
  name: "Home",
  data() {
    return {
      name: "",
      restaurants: [],
    };
  },
  components: {
    Header,
  },
  methods: {
    async deleteResto(id) {
      let result = await axios.delete("http://localhost:3000/Restaurant/" + id);
      if (result.status == 200) {
        this.load();
      }
    },
    async load() {
      let user = localStorage.getItem("user-Info");
      this.name = JSON.parse(user).name;
      if (!user) {
        this.$router.push({ name: "signUp" });
        alert("please sign-up first to access Home page");
      }
      let result = await axios.get("http://localhost:3000/Restaurant");
      console.warn(result);
      this.restaurants = result.data;
    },
  },

  mounted() {
    this.load();
  },
};
</script>

<style>
.logo {
  width: 100px;
}
.header {
  color: red;
  color-scheme: dark;

  text-decoration-color: chartreuse;
  text-decoration-style: double;
}
td {
  width: 170px;
  height: 40px;
}
</style>
