<template>
  <img class="logo" src="../assets/resto-logo.jpg" />
  <h2>Welcome to Login Page</h2>

  <div class="login">
    <input type="text" v-model="email" placeholder="Enter Email" />
    <input type="password" v-model="password" placeholder="Enter Password" />
    <button v-on:click="login">Login Now</button>
    <p>
      <router-link to="/sign-up">Sign Up</router-link>
    </p>
  </div>
</template>
<script>
import axios from "axios";
export default {
  name: "Login",

  data() {
    return {
      email: "",
      password: "",
    };
  },

  methods: {
    async login() {
      let result = await axios.get(
        `http://localhost:3000/users?email=${this.email}&password=${this.password}`
      );

      if (result.status == 200 && result.data.length > 0) {
        localStorage.setItem("user-Info", JSON.stringify(result.data[0]));
        this.$router.push({ name: "Home" });
        // alert('logged in sucessfully');
      }
    },
  },
  mounted() {
    let user = localStorage.getItem("user-Info");
    if (user) {
      this.$router.push({ name: "Home" });
    }
  },
};
</script>

<style>
.logo {
  width: 100px;
}

.login input {
  width: 300px;
  height: 40px;
  padding-left: 20px;
  display: block;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.login button {
  width: 250px;
  height: 40px;
  border: 1px solid;
  color: white;
  background-color: black;
  cursor: pointer;
}
</style>