<template>
  <img class="logo" src="../assets/resto-logo.jpg" />

  <h3>sign Up</h3>
  <div class="register">
    <input type="text" v-model="name" placeholder="enter name" /><br />
    <input type="text" v-model="email" placeholder="enter email" /><br />
    <input
      type="password"
      v-model="password"
      placeholder="enter password"
    /><br />
    <button v-on:click="signUp">Sign Up Now</button>
    <h2>OR</h2>
    <router-link to="/login">Login</router-link>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "signUp",
  data() {
    return {
      name: "",
      email: "",
      password: "",
    };
  },

  methods: {
    async signUp() {
      console.warn("signed Up", this.name, this.email, this.password);
      let result = await axios.post("http://localhost:3000/users", {
        name: this.name,
        email: this.email,
        password: this.password,
      });
      console.warn(result);
      if (result.status == 201) {
        alert("signed Up succesfully");
      }
      localStorage.setItem("user-Info", JSON.stringify(result.data));
      this.$router.push({ name: "Home" });
    },
  },

  mounted() {
    let user = localStorage.getItem("user-Info");
    if (user) {
      this.$router.push({ name: "Login" });
    }
  },
};
</script>

<style>
.logo {
  width: 100px;
}

.register input {
  width: 300px;
  height: 40px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  padding-left: 20px;
  display: block;
}

.register button {
  width: 250px;
  height: 40px;
  border: 1px solid;
  color: white;
  background-color: black;
  cursor: pointer;
}
</style>