<template>
  <Header />
  <img class="logo" src="../assets/resto-logo.jpg" />
  <h1 class="header">HELLO {{ name }}, WELCOME ON UPDATE RESTAURANT PAGE!!!</h1>
  <form class="add">
    <input
      type="text"
      placeholder="Enter resto. Name"
      v-model="restaurant.name"
      name="name"
    />
    <input
      type="text"
      placeholder="Enter resto. Address"
      v-model="restaurant.address"
      name="address"
    />
    <input
      type="text"
      placeholder="Enter resto. Contact"
      v-model="restaurant.contact"
      name="contact"
    />
    <button type="button" v-on:click="updateResto">Update Restaurant</button>
  </form>
</template>

<script>
import axios from "axios";
import Header from "./Header.vue";
export default {
  name: "Update",

  components: {
    Header,
  },
  data() {
    return {
      restaurant: {
        name: "",
        address: "",
        contact: "",
      },
    };
  },
  methods: {
    async updateResto() {
      console.warn(this.restaurant);
      const result = axios.put(
        "http://localhost:3000/Restaurant/" + this.$route.params.id,
        {
          name: this.restaurant.name,
          address: this.restaurant.address,
          contact: this.restaurant.contact,
        }
      );
      if (result.staus === 200) {
        this.$router.push({ name: "Home" });
      }
    },
  },

  async mounted() {
    let user = localStorage.getItem("user-Info");
    this.name = JSON.parse(user).name;
    if (!user) {
      this.$router.push({ name: "signUp" });
      alert("please sign-up first to access Home page");
    }
    const result = await axios.get(
      "http://localhost:3000/Restaurant/" + this.$route.params.id
    );

    this.restaurant = result.data;
    // console.warn(this.$route.params.id);
  },
};
</script>

<style>
.logo {
  width: 100px;
}
.header {
  color: red;
  color-scheme: dark;

  text-decoration-color: chartreuse;
  text-decoration-style: double;
}
</style>
